$mainColor:#e5eef0;
$secondColor:#8d8d8d;
$blueColor:#29c2e1;
$orangeColor:#f7941d;
$textColor:#93a1a7;
$textColor2:#55595f;
$borderColor:#e4e9ed;


$font-one:'Karla','Tahoma',sans-serif;
$font-two:'Raleway','Tahoma',sans-serif;
$font-three:'Open Sans','Tahoma',sans-serif;
$font-four:'Lora','Tahoma',serif;